---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

import { getClassName, getPaddingXClasses, getPaddingYClasses, getBorderRadiusClasses } from '../tailwind/class_name_compiler';
import type { BorderRadius } from '../tailwind/types/Border';
import type { PaddingX, PaddingY } from '../tailwind/types/Padding';

interface StoryblokAlert extends SbBlokData, PaddingX, PaddingY, BorderRadius {
    component: 'alert',
    content: [SbBlokData],
}

interface Props {
    blok: StoryblokAlert;
}

const { blok } = Astro.props;

var className = getClassName(blok, {
    decorators: [
        {decorator: getPaddingXClasses},
        {decorator: getPaddingYClasses},
        {decorator: getBorderRadiusClasses}
    ]
});
---

<div {...storyblokEditable(blok)} class:list={[className]}>
    {blok.content.map(item => {            
        return <StoryblokComponent blok={item} />
    })}
</div>