---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

import type { PaddingX, PaddingY } from '../tailwind/types/Padding';
import { getBackgroundColorClasses, getBorderClasses, getClassName, getPaddingXClasses, getPaddingYClasses } from '../tailwind/class_name_compiler';
import type { BackgroundGradient } from '../tailwind/types/Color';
import type { Border } from '../tailwind/types/Border';
import type { Dimensions } from '../tailwind/types/Dimensions';

interface StoryblokCard extends SbBlokData, PaddingX, PaddingY, BackgroundGradient, Border, Dimensions {
    component: 'card',
    content: [SbBlokData],
    shadow?: boolean;
    rounded?: ["top_left"|"top_right"|"bottom_left"|"bottom_right"];
}

interface Props {
    blok: StoryblokCard;
}

const { blok } = Astro.props;

const possibleRounded = {
    top_left: "rounded-tl-3xl",
    top_right: "rounded-tr-3xl",
    bottom_left: "rounded-bl-3xl",
    bottom_right: "rounded-br-3xl",
}

var className = getClassName(blok, {
    decorators: [
        {decorator: getPaddingXClasses},
        {decorator: getPaddingYClasses},
        {decorator: getBackgroundColorClasses},
        {decorator: getBorderClasses},
    ]
});

className = className + ' ' + `
    ${blok.shadow ? "shadow-lg" : ''}
    ${blok.rounded ? blok.rounded.map((r) => possibleRounded[r]).join(" ") : ""}
    overflow-hidden
`.replace(/\s+/g, ' ').trim();
---

<div class:list={["card-container", className]} {...storyblokEditable(blok)}>
    {blok.content.map(item => {            
        return <StoryblokComponent blok={item} />
    })}
</div>

<style define:vars={{height: blok.height + "px" || "auto", width: blok.width + "px" || "auto"}}>
    .card-container {
        min-height: var(--height);
    }

    .card-container {
        width: clamp(150px, var(--width), 100%);
    }
</style>