---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { MarginBottom } from '../tailwind/types/Margin';
import { getClassName, getMarginBottomClasses } from '../tailwind/class_name_compiler';

export interface StoryblokIconList extends SbBlokData, MarginBottom {
    component: 'icon_list',
    icon: {
        type: string;
        icon: string;
    }
    content: [SbBlokData],
    type: 'primary',
}

interface Props {
    blok: StoryblokIconList;
}

const { blok } = Astro.props;

if (!blok.type) blok.type = 'primary';

const className = getClassName(blok, {
    decorators: [
        {decorator: getMarginBottomClasses},
    ]
});
---

<ul {...storyblokEditable(blok)} class:list={[className, "flex flex-col gap-4"]}>
    {blok.content.map(item => {            
        return <li class="flex gap-4 items-center">
            <i class:list={[blok.icon.type, blok.icon.icon, 'fa-lg dark:text-primary-400 text-primary-600']} aria-hidden="true"></i>
            <StoryblokComponent blok={item} />
        </li>
    })}
</ul>
