---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

import { getClassName, getColSpanClasses } from '../tailwind/class_name_compiler';
import type { ColSpan } from '../tailwind/types/Columns';

interface StoryblokColumn extends SbBlokData, ColSpan {
    component: 'column';
    content: [SbBlokData],
}

interface Props {
    blok: StoryblokColumn;
}

const { blok } = Astro.props;

var className = getClassName(blok, {
    decorators: [
        {decorator: getColSpanClasses},
    ]
})
---

<div {...storyblokEditable(blok)} class:list={[className]}>
    {blok.content.map(item => {            
		return <StoryblokComponent blok={item} />
	})}
</div>