---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

import { getClassName, getPaddingYClasses, getContainerSizeClasses } from '../tailwind/class_name_compiler';
import type { PaddingY } from '../tailwind/types/Padding';
import type { Size } from '../tailwind/types/Container';

interface StoryblokContainer extends SbBlokData, Size, PaddingY {
    component: 'container',
    content: [SbBlokData],
}

interface Props {
    blok: StoryblokContainer;
}

const { blok } = Astro.props;

var className = getClassName(blok, {
    decorators: [
        {decorator: getPaddingYClasses},
        {decorator: getContainerSizeClasses}
    ]
})
---

<div {...storyblokEditable(blok)} class:list={["mx-auto", className]}>
    {blok.content.map(item => {            
		return <StoryblokComponent blok={item} />
	})}
</div>