---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

import { getClassName, getGapClasses, getPaddingXClasses, getPaddingYClasses, getAlignItemsClasses, getJustifyContentClasses } from '../tailwind/class_name_compiler';
import type { Gap } from '../tailwind/types/Gap'
import type { PaddingX, PaddingY } from '../tailwind/types/Padding';
import type { JustifyContent, AlignItems } from '../tailwind/types/Grid';

interface StoryblokFlex extends SbBlokData, Gap, PaddingX, PaddingY, JustifyContent, AlignItems {
    component: 'flex',
    content: [SbBlokData],
}

interface Props {
    blok: StoryblokFlex;
}

const { blok } = Astro.props;

var className = getClassName(blok, {
    decorators: [
        {decorator: getGapClasses},
        {decorator: getPaddingXClasses},
        {decorator: getPaddingYClasses},
        {decorator: getAlignItemsClasses},
        {decorator: getJustifyContentClasses},
    ]
})
---

<div class:list={["flex", className]} {...storyblokEditable(blok)}>
    {blok.content.map(item => {            
		return <StoryblokComponent blok={item} />
	})}
</div>