---
import { type SbBlokData, storyblokEditable } from '@storyblok/astro';
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

import { getClassName, getGapClasses, getColumnsClasses, getPaddingXClasses, getPaddingYClasses, getAlignContentClasses, getAlignItemsClasses, getJustifyContentClasses, getJustifyItemsClasses } from '../tailwind/class_name_compiler';
import type { Gap } from '../tailwind/types/Gap'
import type { Columns } from '../tailwind/types/Columns'
import type { PaddingX, PaddingY } from '../tailwind/types/Padding';
import type { JustifyContent, JustifyItems, AlignContent, AlignItems } from '../tailwind/types/Grid';

interface StoryblokGrid extends SbBlokData, Gap, Columns, PaddingX, PaddingY, JustifyContent, JustifyItems, AlignContent, AlignItems {
    component: 'grid',
    columns: [SbBlokData],
}

interface Props {
    blok: StoryblokGrid;
}

const { blok } = Astro.props;

var className = getClassName(blok, {
    decorators: [
        {decorator: getGapClasses},
        {decorator: getColumnsClasses},
        {decorator: getPaddingXClasses},
        {decorator: getPaddingYClasses},
        {decorator: getAlignContentClasses},
        {decorator: getAlignItemsClasses},
        {decorator: getJustifyContentClasses},
        {decorator: getJustifyItemsClasses},
    ]
})
---

<div class:list={["grid", className]} {...storyblokEditable(blok)}>
    {blok.columns.map(item => {            
		return <StoryblokComponent blok={item} />
	})}
</div>