---
import { type SbBlokData } from '@storyblok/astro';
import { storyblokEditable } from '../storyblok/storyblok_editable';
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

import { getClassName, getPaddingXClasses, getPaddingYClasses, getMarginXClasses, getMarginYClasses, getBackgroundColorClasses } from '../tailwind/class_name_compiler';
import {type PaddingX, type PaddingY} from '../tailwind/types/Padding';
import {type MarginX, type MarginY} from '../tailwind/types/Margin';
import {type BackgroundColor} from '../tailwind/types/Color';

interface StoryblokSection extends SbBlokData, PaddingX, PaddingY, MarginX, MarginY, BackgroundColor {
    component: 'section',
    content: [SbBlokData],
}

interface Props {
    blok: StoryblokSection;
}

const { blok } = Astro.props;

const className = getClassName(blok, {
    decorators: [
        {decorator: getPaddingXClasses},
        {decorator: getPaddingYClasses},
        {decorator: getMarginXClasses},
        {decorator: getMarginYClasses},
        {decorator: getBackgroundColorClasses},
    ]
})
---

<section class:list={[className]} {...storyblokEditable(blok, import.meta.env.PUBLIC_VERCEL_ENV == 'production')}>
    {blok.content.map(item => {            
		return <StoryblokComponent blok={item}/>
	})}
</section>