---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { getPaddingClasses } from '../padding';

interface StoryblokSection extends SbBlokData {
    component: 'section',
    color?: "primary"| "secondary" | "accent_1" | "accent_2" | "accent_3" | "accent_4" | "accent_5" | "white" | "black";
    content: [SbBlokData],
    margin_x: 0|2|4|6|8|16|24,
    margin_y: 0|2|4|6|8|16|24,
    padding_x: 0|2|4|6|8|16|24,
    padding_y: 0|2|4|6|8|16|24,
    margin_x_lg: 0|2|4|6|8|16|24,
    margin_x_md: 0|2|4|6|8|16|24,
    margin_x_sm: 0|2|4|6|8|16|24,
    margin_x_xl: 0|2|4|6|8|16|24,
    margin_y_lg: 0|2|4|6|8|16|24,
    margin_y_md: 0|2|4|6|8|16|24,
    margin_y_sm: 0|2|4|6|8|16|24,
    margin_y_xl: 0|2|4|6|8|16|24,
    padding_x_lg: 0|2|4|6|8|16|24,
    padding_x_md: 0|2|4|6|8|16|24,
    padding_x_sm: 0|2|4|6|8|16|24,
    padding_x_xl: 0|2|4|6|8|16|24,
    padding_y_lg: 0|2|4|6|8|16|24,
    padding_y_md: 0|2|4|6|8|16|24,
    padding_y_sm: 0|2|4|6|8|16|24,
    padding_y_xl: 0|2|4|6|8|16|24,
}

interface Props {
    blok: StoryblokSection;
}

const { blok } = Astro.props;

const possibleColors = {
    primary: "bg-primary-700 dark:bg-primary-400",
    secondary: "bg-secondary-700 dark:bg-secondary-400",
    accent_1: "bg-accent-1-700 dark:bg-accent-1-400",
    accent_2: "bg-accent-2-700 dark:bg-accent-2-400",
    accent_3: "bg-accent-3-700 dark:bg-accent-3-400",
    accent_4: "bg-accent-4-700 dark:bg-accent-4-400",
    accent_5: "bg-accent-5-700 dark:bg-accent-5-400",
    white: "bg-white dark:bg-black",
    black: "bg-black dark:bg-white",
    default: "bg-transparent"
}

const className = `
    ${getPaddingClasses(blok)}
    ${blok.color ? possibleColors[blok.color] : possibleColors.default}
`.replace(/\s+/g, ' ').trim();
---

<section class:list={[className]} {...storyblokEditable(blok)}>
    {blok.content.map(item => {            
		return <StoryblokComponent blok={item} />
	})}
</section>