---
import Title from '../0_atoms/Title.astro'
import Score from '../0_atoms/Score.astro'
import Text from '../0_atoms/Text.astro'
import ScoreAlert from '../0_atoms/ScoreAlert.astro'
import Button from '../0_atoms/Button.astro'

import Card from '../1_molecules/Card.astro'

import Grid from '../4_layout_elements/Grid.astro'
---

<Card padding={0} shadow={true} rounded={{top: false, bottom: false}} class="h-screen sm:h-auto sm:rounded-3xl">
    <Grid cols={{sm: 2}}>
        <Card color="primary" gradient={true} center={true} padding={8} rounded={{top: false, bottom: true}}>
            <Title htmlTag="h3" color="text-slate-300">Your Result</Title>
            <Score score=76 total=100 />
            <Text color="text-slate-200" size="2xl">Great</Text>
            <Text color="text-slate-300" center={true}>You scored higher that 65% of the people who have taken these tests.</Text>
        </Card>
        <Grid cols={{gap: 8}} padding={8}>
            <Title htmlTag="h3">Summary</Title>
            <Grid cols={{gap: 2}}>
                <ScoreAlert icon={{type: "fas", icon: "fa-bolt"}} label="Reaction" score={80} total={100} color="light-red"/>
                <ScoreAlert icon={{type: "fas", icon: "fa-brain"}} label="Memory" score={92} total={100} color="orangey-yellow"/>
                <ScoreAlert icon={{type: "fas", icon: "fa-comment"}} label="Verbal" score={61} total={100} color="green-teal"/>
                <ScoreAlert icon={{type: "fas", icon: "fa-eye"}} label="Visual" score={72} total={100} color="cobalt-blue"/>
            </Grid>
            <Button color="secondary" paddingY={4}>Continue</Button>
        </Grid>
    </Grid>
</Card>