---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

interface StoryblokDropdown extends SbBlokData {
    component: 'dropdown';
    label: string;
    content: [SbBlokData];
    hover: 'underline' | 'none';
}


interface Props {
    blok: StoryblokDropdown;
}

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)} class="group relative">
    <span class="flex items-center relative cursor-pointer pointer-events-auto">{blok.label}
        <svg class="h-4 w-4 fill-current" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
        </svg>
    </span>
    {blok.content.length > 0 ?
    <ul class="hidden duration-300 lg:invisible lg:absolute lg:flex lg:flex-col lg:h-auto lg:w-[13.5rem] lg:opacity-0 lg:group-hover:visible lg:group-hover:opacity-100 bg-white shadow-lg border-secondary-500 border rounded-md p-2 top-8">
        {blok.content?.map((blok: SbBlokData) => {
            return <StoryblokComponent blok={blok} />
        })}
    </ul>
    : null}
</div>