---
import { storyblokEditable } from '@storyblok/astro';
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

import { getClassName, getPaddingXClasses, getPaddingYClasses, getBorderRadiusClasses, getVisibilityClasses } from '../../tailwind/class_name_compiler';
import type { StoryblokCard } from '../Card.astro';

interface Props {
    blok: StoryblokCard;
}

const { blok } = Astro.props;

var className = getClassName(blok, {
    decorators: [
        {decorator: getPaddingXClasses},
        {decorator: getPaddingYClasses},
        {decorator: getBorderRadiusClasses},
        {decorator: getVisibilityClasses, options: {display: 'grid'}}
    ]
});
---

<div class:list={[className, 'grid border border-primary-400/50 dark:border-primary-500/50']} {...storyblokEditable(blok)} >
    {blok.content.map(item => {            
        return <StoryblokComponent blok={item} />
    })}
</div>