---
import { storyblokEditable, type SbBlokData } from '@storyblok/astro';
// @ts-ignore
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

import { getClassName, getPaddingXClasses, getPaddingYClasses, getVisibilityClasses } from '../../tailwind/class_name_compiler';
import type { StoryblokAccordeon } from '../Accordeon.astro';
import PrimaryCardAccordeonSvelte from './PrimaryCardAccordeon.svelte';

interface Props {
    blok: StoryblokAccordeon;
}

const { blok } = Astro.props;

var className = getClassName(blok, {
    decorators: [
        {decorator: getPaddingXClasses},
        {decorator: getPaddingYClasses},
        {decorator: getVisibilityClasses, options: {display: 'grid'}}
    ]
});
---

<PrimaryCardAccordeonSvelte className={className} storyblokEditableData={storyblokEditable(blok)} client:idle>
    <div slot="title">
        {blok.title.map(item => {            
            return <StoryblokComponent blok={item} />
        })}
    </div>
    <div slot="content">
        {blok.content.map(item => {            
            return <StoryblokComponent blok={item} />
        })}
    </div>
</PrimaryCardAccordeonSvelte>